@import "compass/reset";
@import "compass/css3";
@import "vars";
@import "mixins";
@import "scrollbar";

body,
html {
    width   : 100%;
    height  : 100%;
    overflow: hidden;
}

body {
    color           : $black;
    background-color: $white;
    font-family     : "Whyte";
    font-weight     : 300;
    @include borderbox;

    &.archive,
    &.page-template-home,
    &.page-template-news,
    &.page-template-portfolio,
    &.page-template-selfwork {
        .footer {
            background-color: $yellow;
            margin-top      : 80px;

            .awards,
            .contact-us {
                display: block;
            }
        }
    }

    &.page-template-contacts {
        background-color: $yellow;

        .footer {
            background-color: $yellow;
            padding-top     : 0;

            .bottom {
                margin-top: 0;
            }
        }
    }

    &.tax-type {
        .portfolio-items {
            margin-top: 40px;
        }
    }

    &.archive,
    &.page-template-news,
    &.page-template-portfolio {
        .footer {
            margin-top: -40px;
        }
    }
}

a,
button,
div,
form,
input,
li,
p,
select,
span,
textarea {
    @include borderbox;
}

a {
    text-decoration: none;
}

.table {
    display: table;
    width  : 100%;
    height : 100%;

    .cell {
        display       : table-cell;
        width         : 100%;
        height        : 100%;
        vertical-align: middle;

        &.bottom {
            vertical-align: bottom;
        }
    }
}

a.post-edit-link {
    position        : fixed;
    bottom          : 10px;
    left            : 10px;
    padding         : 10px;
    display         : inline-block;
    background-color: $blue;
    padding         : 5px;
    font-size       : $s_small;
    color           : $white;
    z-index         : 20;

    &:active {
        background-color: $black;
    }
}

.lazy {
    &.loading {
        position: relative;

        &:after {
            content            : "";
            display            : block;
            position           : absolute;
            top                : 0;
            left               : 0;
            width              : 100%;
            height             : 100%;
            background-color   : #ffffff;
            background-color   : #ffffff;
            background-image   : url("../images/preloader.gif");
            background-position: center;
            background-repeat  : no-repeat;
            background-size    : 20px;
            z-index            : 2;
            visibility         : visible;
            @include transition-property(visibility,opacity);
            @include transition-duration(0.2s);
            @include opacity(1);
        }
    }

    &.loaded {
        &:after {
            visibility: hidden;
            @include opacity(0);
        }
    }
}

.header {
    position: absolute;
    top     : 0;
    left    : 40px;
    right   : 40px;
    overflow: hidden;
    height  : 80px;
    z-index : 20;
    @include transition-property(top);
    @include transition-duration(0.3s);

    &.hidden {
        top: -80px;
    }

    &:after {
        content         : "";
        display         : block;
        height          : 1px;
        background-color: rgba($black,1);
        position        : absolute;
        bottom          : 0;
        left            : 0;
        right           : 0;
    }

    a {
        height     : 80px;
        line-height: 80px;
    }

    a.home {
        float  : left;
        width  : 80px;
        display: inline-block;

        svg {
            width  : 100%;
            height : 100%;
            display: block;
        }
        @include respond(desktop) {
            &:hover {
                svg {
                    path {
                        fill: $blue;
                    }
                }
            }
        }
    }

    .nav {
        float   : right;
        position: relative;
        z-index : 2;

        ul {
            li {
                float      : left;
                margin-left: 50px;

                &:first-child {
                    margin-left: 0;
                }

                &.current-menu-item {
                    a {
                        text-decoration: underline;
                    }
                }

                a {
                    display       : inline-block;
                    font-size     : $s_small;
                    text-transform: uppercase;
                    color         : $black;
                    letter-spacing: 0.5px;
                    @include respond(desktop) {
                        @include transition-property(color);
                        @include transition-duration(0.2s);

                        &:hover {
                            border-bottom: 1px solid $blue;
                            color        : $blue;
                        }
                    }

                    &:active {
                        border-bottom: 1px solid $blue;
                        color        : $blue;
                    }
                }
            }
        }
    }
}

a.more {
    height        : 80px;
    line-height   : 80px;
    font-size     : $s_medium;
    color         : $black;
    display       : block;
    border-top    : 1px solid $black;
    border-bottom : 1px solid $black;
    text-transform: uppercase;
    overflow      : hidden;
    @include respond(desktop) {
        @include transition-property(color);
        @include transition-duration(0.2s);

        &:hover {
            color: $blue;

            svg {
                margin-left: 20px;

                path {
                    stroke: $blue;
                }
            }
        }
    }

    span {
        display       : inline-block;
        vertical-align: top;
        letter-spacing: 1px;
    }

    svg {
        height     : 100%;
        width      : 20px;
        display    : inline-block;
        margin-left: 5px;
        position   : relative;
        top        : -1px;
        @include transition-property(margin-left);
        @include transition-duration(0.2s);
    }

    &.no-borders {
        border     : 0;
        height     : 25px;
        line-height: 25px;
        display    : inline-block;
    }

    &.white {
        border-color: white;
        color       : white;

        svg {
            path {
                stroke: white;
            }
        }

        &:active {
            color: $yellow;

            svg {
                path {
                    stroke: $yellow;
                }
            }
        }
        @include respond(desktop) {
            &:hover {
                color: $yellow;

                svg {
                    path {
                        stroke: $yellow;
                    }
                }
            }
        }
    }
}

.animate {
    top     : 0;
    position: relative;
    @include respond(desktop) {
        @include transition-property(perspective, rotateX, transform, top);
        @include transition-duration(0.2s);
        @include transform(perspective(600px) rotateX(0deg));

        &:hover {
            top: -10px;
            @include transform(perspective(600px) rotateX(3deg));
        }
    }
}

.selfwork-items {
    padding-left : 40px;
    padding-right: 40px;
    overflow     : hidden;
    margin-bottom: 80px;

    .selfwork-item {
        overflow   : hidden;
        border-top : 1px solid $black;
        margin-top : 40px;
        padding-top: 40px;
        @include respond(bigdesktop) {
            padding-left: 25%;
        }

        &:first-child {
            border-top : 0;
            margin-top : 0;
            padding-top: 0;
        }

        a.p-item-title {
            float         : left;
            width         : 25%;
            display       : block;
            line-height   : 1.1;
            color         : $black;
            text-transform: uppercase;
            font-size     : $s_subtitle;
            @include respond(desktop) {
                @include transition-property(color);
                @include transition-duration(0.2s);

                &:hover {
                    color: $blue;
                }
            }
        }

        a.more {
            font-size : $s_bigger;
            margin-top: 30px;
            @include respond(desktop) {
                @include transition-property(color);
                @include transition-duration(0.2s);
            }

            svg {
                width: 14px;
            }
        }

        a.picture {
            width              : 75%;
            height             : 0;
            padding-top        : 43%;
            overflow           : hidden;
            float              : right;
            display            : block;
            background-size    : cover;
            background-position: center;
        }
    }
}

.portfolio-items {
    overflow     : hidden;
    position     : relative;
    top          : -90px;
    padding-left : 40px;
    padding-right: 40px;

    &.related {
        margin-top : 80px;
        top        : 0;
        padding-top: 0;

        .wrapper {
            padding-top : 40px;
            position    : relative;
            max-width   : 1400px;
            margin-left : auto;
            margin-right: auto;
            overflow    : hidden;
            padding-left: 21%;
            @include respond(bigdesktop) {
                padding-left: 320px;
            }

            h2 {
                position      : absolute;
                top           : 40px;
                left          : 0;
                font-size     : $s_medium;
                line-height   : 1.1;
                text-transform: uppercase;
            }
        }

        &:before {
            content         : "";
            display         : block;
            height          : 1px;
            position        : absolute;
            top             : 0;
            left            : 40px;
            right           : 40px;
            background-color: $black;
        }

        .portfolio-item,
        .post-item {
            width: 30.2%;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    .portfolio-item,
    .post-item {
        float      : left;
        width      : 30%;
        position   : relative;
        margin-left: 30px;
        overflow   : hidden;
        @include respond(desktop) {
            &:hover {
                a.p-item-title {
                    color: $blue;
                }
            }
        }

        a.p-item-title {
            margin-bottom : 30px;
            line-height   : 1.1;
            color         : $black;
            text-transform: uppercase;
            font-size     : $s_medium;
            display       : inline-block;
            height        : 50px;
            @include respond(desktop) {
                @include transition-property(color);
                @include transition-duration(0.2s);
            }
        }

        a.picture {
            display    : block;
            height     : 0;
            padding-top: 140%;
            overflow   : hidden;
        }

        a.more {
            font-size : $s_bigger;
            margin-top: 30px;
            @include respond(desktop) {
                @include transition-property(color);
                @include transition-duration(0.2s);
            }

            svg {
                width: 14px;
            }
        }

        .picture {
            background-size    : cover;
            background-position: center;
        }

        &.featured {
            position      : relative;
            width         : 100%;
            padding-top   : 100px;
            max-width     : 100%;
            margin-left   : auto;
            overflow      : hidden;
            padding-bottom: 40px;

            &:after {
                content         : "";
                display         : block;
                position        : absolute;
                left            : 0;
                right           : 0;
                bottom          : 20px;
                height          : 1px;
                background-color: $black;
            }

            &:before {
                display         : block;
                content         : "";
                width           : 1px;
                position        : absolute;
                right           : 0;
                top             : 0;
                bottom          : 0;
                background-color: $black;
            }

            .title {
                float        : left;
                width        : 30%;
                padding-right: 60px;

                a.p-item-title {
                    display      : block;
                    font-size    : $s_subtitle;
                    height       : auto;
                    margin-bottom: 0;
                }
            }

            a.picture {
                width      : 70%;
                height     : 0;
                padding-top: 43%;
                overflow   : hidden;
                float      : right;
                display    : block;
            }
        }
    }

    .small-items {
        position: relative;
        overflow: hidden;
        clear   : both;
        top     : -20px;

        .group {
            border-top : 1px solid $black;
            overflow   : hidden;
            margin-top : 60px;
            margin-left: -30px;
            padding-top: 60px;

            &:first-child {
                margin-top: 0;
                border-top: 0;
            }

            .group-wrapper {
                overflow   : hidden;
                max-width  : 90%;
                margin-left: auto;
                @include respond(bigdesktop) {
                    max-width    : 100%;
                    padding-left : 30%;
                    padding-right: 10%;
                }

                .items-wrapper {
                    overflow   : hidden;
                    width      : 78.8%;
                    margin-left: auto;
                    position   : relative;
                    @include respond(bigdesktop) {
                        width: 100%;
                        left : -10px;
                    }

                    .portfolio-item {}
                }
            }
        }
    }
}

.welcome {
    padding-left : 40px;
    padding-right: 40px;
    padding-top  : 40px;
    position     : relative;
    height       : 700px;
    overflow     : hidden;

    p {
        display: block;

        &.slogan {
            font-size     : $s_big;
            line-height   : 1.1;
            text-transform: uppercase;
        }

        &.desc {
            font-size  : $s_medium;
            line-height: 1.4;
            margin-top : 20px;
            max-width  : 600px;
        }
    }

    a.more {
        position: absolute;
        left    : 40px;
        right   : 40px;
        bottom  : 0;
    }
}

.featured-projects {
    padding-left : 40px;
    padding-right: 40px;
    padding-top  : 40px;
    margin-bottom: 80px;

    .wrapper {
        padding-left: 25%;

        .list {
            border-left   : 1px solid $black;
            padding-left  : 30px;
            width         : 980px;
            padding-bottom: 80px;
            overflow      : hidden;

            h2 {
                font-size     : $s_big;
                line-height   : 1.1;
                text-transform: uppercase;
                margin-bottom : 80px;
            }

            ul {
                overflow   : hidden;
                margin-left: -30px;
                margin-top : -40px;

                li {
                    display    : block;
                    float      : left;
                    width      : 30%;
                    margin-left: 30px;
                    margin-top : 40px;

                    &.large {
                        width: 63.2%;
                    }

                    &:nth-child(2) {
                        clear: right;
                    }

                    &:nth-child(3) {
                        clear: left;
                    }

                    a {
                        display : block;
                        position: relative;
                        top     : 0;

                        &:active {
                            span {
                                color: $blue;
                            }
                        }

                        .picture {
                            height             : 0;
                            padding-top        : 430px;
                            background-size    : cover;
                            background-position: center;
                        }

                        span {
                            display    : block;
                            font-family: "ISO";
                            line-height: 40px;
                            height     : 40px;
                            font-size  : $s_small;
                            color      : $black;
                        }
                    }
                }
            }
        }
    }

    a.more {
        padding-left: 25%;

        span {
            border-left : 1px solid $black;
            padding-left: 40px;
        }
    }
}

.self-work {
    background-color: $blue;
    position        : relative;
    padding-top     : 80px;
    padding-left    : 40px;
    padding-right   : 40px;

    .lines {
        position: absolute;
        top     : 0;
        left    : 0;
        width   : 100%;
        height  : 800px;

        svg {
            display: block;
            width  : 100%;
            height : 100%;
        }
    }

    a.more {
        position: absolute;
        left    : 40px;
        bottom  : 80px;
        right   : 40px;
    }

    .wrapper {
        position      : relative;
        width         : 1280px;
        margin-left   : auto;
        margin-right  : auto;
        padding-bottom: 250px;

        &:after {
            content         : "";
            display         : block;
            width           : 1px;
            position        : absolute;
            top             : -50px;
            bottom          : 0;
            right           : 25%;
            background-color: white;
        }

        .subtitle {
            margin-bottom: 80px;

            h2,
            span {
                display       : block;
                color         : white;
                line-height   : 1.1;
                text-transform: uppercase;
            }

            span {
                font-size     : $s_bigger;
                margin-bottom : 30px;
                letter-spacing: 1px;
            }

            h2 {
                font-size    : $s_big;
                padding-right: 24%;
            }
        }

        .list {
            padding-right: 50px;

            ul {
                li {
                    display   : block;
                    position  : relative;
                    margin-top: 80px;

                    &:first-child {
                        margin-top: 0;
                    }

                    a {
                        display      : block;
                        overflow     : hidden;
                        padding-right: 25%;
                        position     : relative;

                        .picture {
                            height             : 0;
                            padding-top        : 56%;
                            overflow           : hidden;
                            background-size    : cover;
                            background-position: center;
                        }

                        span {
                            display     : inline-block;
                            position    : absolute;
                            top         : 0;
                            left        : 75%;
                            color       : $white;
                            font-family : "ISO";
                            font-size   : $s_bigger;
                            line-height : 1.3;
                            text-align  : left;
                            padding-left: 70px;
                            font-style  : italic;
                        }
                    }
                }
            }
        }
    }
}

.featured-news {
    padding-left: 25%;
    padding-top : 30px;

    .wrapper {
        border-left  : 1px solid $black;
        padding-left : 30px;
        padding-right: 30px;
        padding-top  : 80px;

        h2 {
            font-size     : $s_big;
            line-height   : 1.1;
            text-transform: uppercase;
            margin-bottom : 80px;
        }

        a.no-borders {
            position: relative;
            top     : 5px;
        }

        .posts {
            margin-bottom: 80px;

            ul {
                overflow   : hidden;
                margin-left: -30px;

                li {
                    display    : block;
                    width      : 30.1%;
                    float      : left;
                    margin-left: 30px;
                }
            }
        }
    }
}

.post-item {
    overflow: hidden;

    a,
    p,
    span {
        color: $black;
    }

    a.cover {
        margin-bottom: 30px;
        display      : block;

        img {
            display: block;
            width  : 100%;
        }
        @include respond(desktop) {
            &:hover {
                @include opacity(0.9);
            }
        }
    }

    a.post-title {
        font-size     : $s_medium;
        line-height   : 1.2;
        text-transform: uppercase;

        &:active {
            color: $blue;
        }
        @include respond(desktop) {
            &:hover {
                color: $blue;
            }
        }
    }

    p.post-intro {
        display    : block;
        font-size  : $s_small;
        line-height: 1.5;
        font-family: "ISO";
        margin-top : 30px;
    }

    .featured-in {
        margin-top: 10px;

        a,
        span {
            font-family: "ISO";
            font-size  : $s_small;
            line-height: 20px;
            height     : 20px;
        }

        a {
            text-decoration: underline;
            text-transform : uppercase;

            &:active {
                color: $blue;
            }
            @include respond(desktop) {
                &:hover {
                    color: $blue;
                }
            }
        }
    }

    .more {
        margin-top: 20px;
        position  : relative;

        a {
            line-height: 30px;
            height     : 30px;

            &:active {
                color: $blue;
            }
            @include respond(desktop) {
                &:hover {
                    span {
                        color: $blue;
                    }

                    svg {
                        path {
                            stroke: $blue;
                        }
                    }
                }
            }

            span {
                font-size     : $s_small;
                text-transform: uppercase;
                letter-spacing: 1px;
            }

            svg {
                width      : 10px;
                height     : 100%;
                margin-left: 3px;
            }
        }
    }
}

.page-title {
    padding-left  : 40px;
    padding-right : 40px;
    position      : relative;
    padding-top   : 40px;
    padding-bottom: 120px;

    &:before {
        display         : block;
        content         : "";
        position        : absolute;
        right           : 40px;
        height          : 100%;
        top             : 0;
        width           : 1px;
        background-color: $black;
    }

    h1 {
        font-size     : $s_big;
        line-height   : 1;
        text-transform: uppercase;
        padding-right : 25%;
    }

    &.self {
        padding-right: 25%;

        &:before {
            right: 25%;
        }

        &:after {
            content         : "";
            display         : block;
            position        : absolute;
            left            : 40px;
            right           : 40px;
            height          : 1px;
            background-color: $black;
            bottom          : 30px;
        }
    }
}

.filters {
    padding-left : 40px;
    padding-right: 80px;
    padding-top  : 40px;
    position     : relative;
    top          : -68px;
    overflow     : hidden;
    z-index      : 10;

    &:before {
        display         : block;
        content         : "";
        height          : 1px;
        position        : absolute;
        left            : 40px;
        right           : 40px;
        top             : 67px;
        background-color: $black;
    }

    a,
    p {
        vertical-align: top;
        color         : $black;
        font-size     : $s_bigger;
        text-transform: uppercase;
        display       : inline-block;
        padding-bottom: 10px;
        line-height   : 1;
    }

    p {
        float: left;
    }

    ul {
        float: right;

        li {
            display     : block;
            float       : left;
            margin-left : 40px;
            padding-left: 40px;
            border-left : 1px solid $black;

            &.active {
                a {
                    color: $blue;
                }
            }

            &:first-child {
                padding-left: 0;
                margin-left : 0;
                border-left : 0;
            }

            a {
                vertical-align: top;
                @include respond(desktop) {
                    &:hover {
                        color: $blue;
                    }
                }

                &:active {
                    color: $blue;
                }
            }
        }
    }
}

.footer {
    padding-top   : 30px;
    padding-bottom: 60px;

    .contact-us {
        overflow     : hidden;
        position     : relative;
        padding-left : 40px;
        padding-right: 40px;
        display      : none;

        &:after,
        &:before {
            height          : 1px;
            left            : 40px;
            right           : 40px;
            background-color: $black;
            content         : "";
            display         : block;
            position        : absolute;
            z-index         : 2;
        }

        &:before {
            top: 0;
        }

        &:after {
            bottom: 30px;
        }

        .wrapper {
            position    : relative;
            max-width   : 1310px;
            margin-left : auto;
            margin-right: auto;

            .more-button,
            .text {
                width   : 50%;
                float   : left;
                position: relative;
            }

            .text {
                padding-top   : 140px;
                padding-bottom: 140px;

                p {
                    display: block;

                    &:nth-child(1) {
                        font-size     : $s_big;
                        line-height   : 1.1;
                        text-transform: uppercase;
                    }

                    &:nth-child(2) {
                        display    : block;
                        line-height: 1.3;
                        font-size  : $s_medium;
                        margin-top : 30px;
                    }
                }
            }

            .more-button {
                text-align: center;

                &:before {
                    content            : "";
                    display            : block;
                    position           : absolute;
                    top                : 0;
                    right              : -40px;
                    left               : -40px;
                    bottom             : 0;
                    background-image   : url("../images/balons.jpg");
                    background-size    : 100%;
                    background-repeat  : no-repeat;
                    background-position: top;
                    z-index            : 1;
                }

                &:after {
                    content         : "";
                    display         : block;
                    height          : 100%;
                    position        : absolute;
                    left            : 0;
                    top             : 0;
                    width           : 1px;
                    background-color: $black;
                    z-index         : 2;
                }

                a {
                    position: relative;
                    z-index : 2;
                }
            }
        }
    }

    .awards {
        overflow     : hidden;
        padding-left : 40px;
        padding-right: 40px;
        margin-top   : 60px;
        display      : none;

        p {
            float      : left;
            display    : inline-block;
            line-height: 60px;
            height     : 60px;
            font-size  : $s_medium;
        }

        ul {
            float: right;

            li {
                float      : left;
                margin-left: 50px;

                &:first-child {
                    margin-left: 0;
                }

                img {
                    height : 60px;
                    display: inline-block;
                }
            }
        }
    }

    .bottom {
        margin-top   : 60px;
        padding-top  : 60px;
        overflow     : hidden;
        padding-left : 40px;
        padding-right: 40px;
        position     : relative;

        &:before {
            content         : "";
            display         : block;
            height          : 1px;
            position        : absolute;
            left            : 40px;
            right           : 40px;
            top             : 0;
            background-color: $black;
        }

        .links,
        .logo {
            width: 50%;
            float: left;
        }

        .logo {
            svg {
                width: 120px;
            }
        }

        .links {
            overflow: hidden;
            position: relative;
            z-index : 2;

            a,
            p {
                font-size     : $s_small;
                letter-spacing: 1px;
                color         : $black;
                text-transform: uppercase;
            }

            .nav,
            .social {
                width: 50%;
                float: left;
            }

            .nav {
                ul {
                    li {
                        margin-top: 30px;

                        &:first-child {
                            margin-top: 0;
                        }

                        a {
                            display    : inline-block;
                            line-height: 20px;
                            height     : 20px;
                            @include respond(desktop) {
                                &:hover {
                                    border-bottom: 1px solid $black;
                                }
                            }
                        }
                    }
                }
            }

            .social {
                a {
                    text-decoration: underline;
                }

                p {
                    line-height: 1.5;

                    &.address {
                        margin-top: 130px;
                    }
                }
            }
        }

        .copyright {
            position: relative;
            top     : -10px;

            p {
                letter-spacing: 1px;
                font-size     : $s_micro;
                text-transform: uppercase;
                @include opacity(0.5);
            }
        }
    }
}

.no-posts-found {
    padding-left  : 40px;
    padding-right : 40px;
    padding-bottom: 80px;

    p {
        display       : block;
        text-transform: uppercase;
        line-height   : 1.3;
        font-size     : $s_bigger;
    }
}

.project-title {
    position     : relative;
    padding-left : 40px;
    padding-right: 40px;

    &:after {
        content         : "";
        display         : block;
        position        : absolute;
        left            : 40px;
        bottom          : 30px;
        right           : 40px;
        height          : 1px;
        background-color: $black;
    }

    .back,
    .title {
        float: left;
    }

    .back {
        width       : 25%;
        height      : 100%;
        text-align  : center;
        border-right: 1px solid $black;

        a {
            display : inline-block;
            height  : 30px;
            position: relative;
            top     : -20px;
            @include respond(desktop) {
                &:hover {
                    span {
                        color: $blue;
                    }

                    svg {
                        path {
                            stroke: $blue;
                        }
                    }
                }
            }

            span {
                color         : $black;
                line-height   : 30px;
                font-size     : $s_bigger;
                text-transform: uppercase;
            }

            svg {
                @include transform(rotate(180deg));
                height      : 100%;
                width       : 14px;
                position    : relative;
                top         : 8px;
                margin-right: 5px;
            }
        }
    }

    .title {
        width         : 75%;
        padding-left  : 40px;
        padding-top   : 40px;
        padding-bottom: 60px;

        h1 {
            text-transform: uppercase;
            line-height   : 1.1;
            font-size     : $s_big;
            max-width     : 980px;
        }
    }
}

.project-picture {
    padding-left : 40px;
    padding-right: 40px;
    @include respond(bigdesktop) {
        background-color: rgba($black,0.06);
    }

    img {
        display     : block;
        max-width   : 100%;
        margin-left : auto;
        margin-right: auto;
        @include respond(bigdesktop) {
            max-width: 1400px;
        }
    }
}

.project-details {
    padding-left : 25%;
    padding-right: 40px;
    max-width    : 1400px;
    margin-left  : auto;
    margin-right : auto;
    @include respond(bigdesktop) {
        padding-right: 0;
        padding-left : 0;
    }

    li,
    p {
        font-family: "ISO";
        font-size  : $s_small;
    }

    ul {
        @include respond(bigdesktop) {
            padding-left: 25%;
        }

        li {
            overflow      : hidden;
            border-top    : 1px solid $black;
            padding-left  : 30px;
            display       : block;
            line-height   : 1.2;
            position      : relative;
            padding-top   : 12px;
            padding-bottom: 12px;

            &:first-child {
                border-top: 0;
            }

            &:before {
                content         : "";
                display         : block;
                width           : 1px;
                height          : 100%;
                position        : absolute;
                left            : 30px;
                top             : 0;
                background-color: $black;
            }

            p {
                display: block;
                float  : left;

                &:nth-child(1) {
                    width       : 20%;
                    padding-left: 20px;
                }

                &:nth-child(2) {
                    width: 80%;
                }
            }

            ul {
                li {
                    display: inline-block;
                    border : 0;
                    padding: 0;

                    &:before {
                        display: none;
                    }
                }
            }
        }
    }
}

img.lazy {
    @include transition-property(visibility, opacity);
    @include transition-duration(0.2s);

    &.loading {
        visibility: hidden;
        @include opacity(0);
    }

    &.loaded {
        visibility: visible;
        @include opacity(1);
    }
}

.post-content {
    margin-top   : 80px;
    padding-left : 25%;
    padding-right: 40px;
    max-width    : 1400px;
    margin-left  : auto;
    margin-right : auto;
    @include respond(bigdesktop) {
        padding-right: 10%;
        padding-left : 10%;
    }

    .block {
        margin-top: 20px;

        &:first-child {
            margin-top: 0;
        }

        .subtitle,
        .text {
            max-width: 600px;
        }

        .video {
            height       : 0;
            padding-top  : 56%;
            overflow     : hidden;
            position     : relative;
            margin-top   : 60px;
            margin-bottom: 60px;

            iframe {
                position: absolute;
                top     : 0;
                left    : 0;
                width   : 100%;
                height  : 100%;
            }
        }

        .subtitle {
            h2 {
                font-size     : $s_subtitle;
                line-height   : 1.2;
                text-transform: uppercase;
            }
        }

        .text {
            &.bigger {
                p {
                    font-size: $s_medium;
                }
            }

            p {
                display    : block;
                line-height: 1.3;
                font-size  : $s_bigger;
                margin-top : 10px;

                &:first-child {
                    margin-top: 0;
                }
            }
        }

        .single-image {
            img {
                display: block;
                width  : 100%;
            }

            span {
                display    : block;
                font-size  : $s_small;
                font-family: "ISO";
                line-height: 30px;
                height     : 30px;
            }
        }

        .gallery {
            overflow   : hidden;
            margin-left: -30px;

            .image {
                display       : block;
                float         : left;
                width         : 46.7%;
                margin-left   : 30px;
                margin-top    : 30px;
                padding-bottom: 30px;

                &:nth-child(3n) {
                    clear: left;
                    width: 100%;
                    float: none;
                }

                img {
                    width: 100%;
                }

                span {
                    display    : block;
                    font-size  : $s_small;
                    font-family: "ISO";
                    line-height: 30px;
                    height     : 30px;
                }
            }
        }
    }
}

.contact-wrapper {
    padding-left : 40px;
    padding-right: 40px;
    height       : 100%;
    height       : 700px;

    .contact-info,
    .contact-title {
        float   : left;
        height  : 100%;
        position: relative;
    }

    .contact-title {
        width        : 75%;
        padding-top  : 40px;
        padding-right: 25%;

        a {
            color: $black;
        }

        p {
            display: block;

            &:nth-child(1) {
                font-size     : $s_big;
                line-height   : 1.1;
                text-transform: uppercase;
            }

            &:nth-child(2) {
                font-size  : $s_medium;
                line-height: 1.3;
                margin-top : 20px;
            }
        }

        .offices {
            overflow: hidden;
            position: absolute;
            left    : 0;
            bottom  : 40px;

            .single-office {
                span {
                    font-size  : $s_medium;
                    display    : block;
                    line-height: 1.1;
                }

                .text {
                    margin-top: 30px;

                    p {
                        font-size     : $s_subtitle;
                        margin-top    : 0;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }

    .contact-info {
        width      : 25%;
        border-left: 1px solid $black;

        .map {
            position: absolute;
            top     : 0;
            left    : 0;
            width   : 100%;
            bottom  : 70px;
        }

        .directions {
            position     : absolute;
            left         : 0;
            bottom       : 0;
            height       : 70px;
            width        : 100%;
            border-top   : 1px solid $black;
            padding-left : 10px;
            padding-right: 10px;

            p {
                float: left;
            }

            a,
            p {
                font-size     : $s_small;
                line-height   : 70px;
                height        : 70px;
                display       : inline-block;
                text-transform: uppercase;
                letter-spacing: 0.5px;
                color         : $black;
            }

            ul {
                float   : right;
                overflow: hidden;

                li {
                    float      : left;
                    margin-left: 10px;

                    &:first-child {
                        margin-left: 0;
                    }

                    a {
                        display: inline-block;
                        @include respond(desktop) {
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
}